# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://phgnzgsooqxgzpifnxyf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBoZ256Z3Nvb3F4Z3pwaWZueHlmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEzMTY0NDYsImV4cCI6MjA3Njg5MjQ0Nn0.5dDYtoMdhl9U797GGksNa64BY6DRH_F__JX32xMkIdA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBoZ256Z3Nvb3F4Z3pwaWZueHlmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTMxNjQ0NiwiZXhwIjoyMDc2ODkyNDQ2fQ.fSSIFYWBOMRSIZuafM7UVUD-TK20XinoYZVrv05wPRM